<section class="content-header">
  <div class="grey lighten-3 container my-5">
    <!-- Section: Block Content -->
    <section class="text-center dark-grey-text">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold">Gestão de Identidade</h3>

          <p class="text-muted">
            Gerenciamento de quais sistemas os servidores públicos podem
            acessar, bem como aplicar suas devidas permissões. Também é possível
            a aplicação massiva de cadastros e permissões através do upload de
            planilhas.
          </p>
        </div>
        <!--Grid column-->
        <div class="col-md-6">
          <img
            src="../../../assets/img/sempapel.png"
            alt=""
            class="img-fluid"
          />
        </div>
        <!--Grid column-->
      </div>
      <br />
      <br />
      <br />
    </section>
    <!--Section: Content-->
  </div>
</section>
