.border-top {
  border-top: 5px solid #33b5e5 !important;
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}
.view {
  display: flex;
  justify-content: center;
  height: 88vh;
}
