<aside>
  <section>
    <div class="sidenav">
      <a class="dropdown-item" [routerLink]="['/welcome']">
        <i class="fas fa-home" style="color: black;"></i>
        Home
      </a>

      <a class="dropdown-item" [routerLink]="['/dashboard']">
        <i class="fas fa-desktop" style="color: black;"></i>
        Dashboard
      </a>

      <a class="dropdown-item" [routerLink]="['/virtual-table']">
        <i class="fas fa-inbox" style="color: black;"></i>
        Caixa de Entrada
      </a>

      <a class="dropdown-item" [routerLink]="['/document-compose']">
        <i class="fas fa-file-word" style="color: black;"></i>
        Criar Documento
      </a>

      <a class="dropdown-item" [routerLink]="['/list-user']">
        <i class="fas fa-users" style="color: black;"></i>
        Usuários
      </a>

      <a class="dropdown-item" [routerLink]="['/users']">
        <i class="fas fa-file" style="color: black;"></i>
        Relatório de Usuários
      </a>
    </div>
  </section>
</aside>