.navbar .nav-item.avatar .dropdown-toggle img {
  height: 35px;
  background-color: #404acd !important;
  position: fixed;
}
img.img-fluid.rounded-circle.z-depth-0 {
  height: 35px;
}
.active {
  background: #dc824f;
}
